# CJH FRC gitignore - last updated 20241103

# make sure we don't overwrite each other's sim settings
/robot/imgui.ini
/robot/guis
/robot/sim/data/*.pkl
/robot/simg*

# too many ini files for the gui
*.ini

# Try to keep the robotpy nuts and bolts off the git
*eploy_cfg
*nstaller_config
simg*

# keep our VS code settings to ourselves
.vscode*
.vscode/*

# keep our pycharm/jupyter settings to ourselves
#pycharm directory
.idea/
#jupyter stuff
.ipynb_checkpoints

#pycache stuff
__pycache__/
*.py[cod]

# Default stuff
# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
robot/input_log.txt
robot/input_log.json
other_robots/swerve_base/autonomous/swerve_trajectory_planner.py
other_robots/swerve_base/autonomous/ramsete_controller_trajectory_planner.py
other_robots/swerve_base/autonomous/Autonomous-Pathing-Notes.md
